            * {
                box-sizing: border-box;
                font-family: 'Josefin Sans', sans-serif;
            }
            
            body {
                margin: 0px;
                padding: 0px;
            }
            
            header {
                background-image: url(images/qwertyuio.jpg);
                background-size: cover;
                width: 100%;
                padding: 2px;
            }
            
            header h1 {
                padding-top: 70px;
                color: white;
                text-align: center;
                margin: auto;
                width: 50%;
            }
            
            header h2 {
                padding-top: 30px;
                color: white;
                text-align: center;
                margin: auto;
                width: 70%;
                padding-bottom: 20px;
            }
            
            header img {
                margin: auto;
                display: block;
                padding-bottom: 10px;
            }
            
            .first {
                width: 90%;
                margin: auto;
                margin-top: 20%;
                background-size: cover;
                background-image: url(images/photo-1536935338788-846bb9981813.jpg)
            }
            
            .first h2 {
                color: white;
                text-align: center;
                margin: auto;
                padding-top: 10%;
            }
            
            .first p {
                color: white;
                text-align: center;
                margin: auto;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            
            .card {
                margin: auto;
                margin-top: 20%;
            }
            
            .card h2 {
                text-align: center;
            }
            
            .card img {
                width: 50%;
                display: block;
                margin: auto;
                margin-bottom: 10%;
            }
            
            .card p {
                padding-left: 10%;
                padding-right: 10%;
            }
            
            .card ul {
                padding-left: 20%;
            }
            
            footer {
                text-align: center;
                margin: auto;
                margin-top: 10%;
                padding-bottom: 10%;
            }
            
            a:visited {
                color: orange;
            }
            
            a:link {
                color: orange;
            }
            
            @media (min-width:720px) {
                header h1 {
                    padding-top: 100px;
                    padding-bottom: 50px;
                }
                .first {
                    margin-top: 15%;
                    width: 70%;
                    margin-bottom: 100px;
                }
                .first h2 {
                    padding-top: 18%;
                    padding-bottom: 70px;
                    width: 20%;
                }
                .first p {
                    padding-top: 0px;
                    padding-bottom: 10%;
                    padding-left: 30px;
                    padding-right: 30px;
                    width: 40%;
                    display: inline-block;
                }
                .sixth {
                    width: 100%;
                    margin-top: 2px;
                }
                .sixth img {
                    width: 280px;
                }
                .second {
                    width: 44%;
                    display: inline-block;
                    margin: 2px;
                    padding-left: 100px;
                }
                .third {
                    display: inline-block;
                    width: 45%;
                    margin: 2px;
                    padding-left: 100px;
                }
            }